@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", "Montserrat" sans-serif;
  scroll-behavior: smooth;
}

.gradient-spotlight {
  background-image: linear-gradient(
    270deg,
    hsl(295deg 76% 51%) 0%,
    hsl(284deg 70% 73%) 26%,
    hsl(257deg 70% 86%) 39%,
    hsl(202deg 92% 90%) 50%,
    hsl(215deg 77% 81%) 61%,
    hsl(221deg 73% 70%) 74%,
    hsl(220deg 76% 51%) 100%
  );
  filter: blur(125px);
}

.flexr {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.commonpadding {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.navbar {
  top: 3;
  left: 0;
  right: 0;
  width: 90%;
  margin: auto;
}

.gradient-text {
  background: linear-gradient(
    to right,
    #fff1f2,
    #ccfbf1
  ); /* Gradient from rose-100 to teal-100 */
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.name {
  font-family: "Architects Daughter", cursive;
}
